/*Bootstrap Overrides*/

body {
    color: rgb(48, 48, 48);
}

a {
    color: rgb(49, 137, 193);
    text-decoration: none;
}

a:hover {
    color: grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(48, 48, 48);
}

.nav-pills .nav-link.active {
    background-color: white;
    color: rgb(49, 137, 193);
    font-weight: bolder;
    font-size: 20px;
}

.nav-link {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px;
}

.nav-link:hover {
    color: grey;
    background-color: white;
}

nav{
    background-color: rgb(49, 137, 193);
}


/*Custom Classes and IDs*/

.divider {
    width: 80px;
    height: 7px;
    background-color: rgb(49, 137, 193);
    margin-bottom: 10px;
}


table {
    background-color: aqua;
}

.small{
    font-style: italic;
}

.student {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

.selected {
    background-color: rgb(49, 137, 193);
    color: white;
}

.userName{
    font-weight: bold;
}

.studentName{
    color: lightcoral;
}

