<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/styles.css" rel="stylesheet" type="text/css">

  <title>Games</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

  <nav class="nav nav-pills nav-fill navbar-dark shadow p-3 mb-5">
    <a class="nav-link active" aria-current="page" href="#">Games</a>
    <a class="nav-link" href="index.html">Home</a>
    <a class="nav-link" href="referees.html">Referees</a>
  </nav>

  
  <div id="offerApp" class="container">
    <div class="row">
      <div class="col">
        <h1>List of Games</h1>
        <div class="divider"></div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Field Number</th>
              <th>Start Date</th>
              <th>Start Time</th>
              <th>Game Level</th>
              <th>Number of Referees</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="game in games">
              <td>{{ game.field_num }}</td>
              <td>{{ game.start_date }}</td>
              <td>{{ game.start_time}}</td>
              <td>{{ game.game_level }}</td>
              <td>{{ game.num_of_refs}}</td>
              <td>
                <button type="button" class="btn btn-outline-secondary btn-sm" 
                v-on:click="selectGame(game)">Edit</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" 
                v-on:click="postDeleteGame(game)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h3>{{selectedGame === null ? "Add" : "Edit" }}</h3>
            <form v-on:submit.prevent="postGame">
              <div class="form-group mb-3">
                <label for="fieldNum">Field Number</label>
                <input type="number" id="fieldNum" class="form-control" aria-describedby="fieldNum" placeholder="Enter Field Number" v-model="gameForm.field_num">
              </div>
              <div class="mb-3">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" class="form-control" aria-describedby="startDate" placeholder="Enter Start Date" v-model="gameForm.start_date">
              </div>
              <div class="mb-3">
                <label for="startTime">Start time</label>
                <input type="time" id="startTime" class="form-control" aria-describedby="startTime" placeholder="Enter Start Time" v-model="gameForm.start_time">
              </div>
              <div class="form-group form-check mb-3">
                <label for="gameLvl">Game Level</label>
                <input type="number" class="form-control" id="gameLvl" aria-describedby="gameLvl" placeholder="Enter Game Level" v-model="gameForm.game_level">
                <!--<small id="dateInput" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>
              <div class="mb-3">
                <label for="numOfRefs">Number of Referees</label>
                <input type="number" id="numOfRefs" class="form-control" aria-describedby="numOfRefs" placeholder="Enter # of Referees" v-model="gameForm.num_of_refs">
              </div>
              <button type="submit" class="btn btn-primary">{{selectedGame === null ? "Add" : "Edit" }}</button>
              <button type="button" class="btn btn-outline-secondary" 
              v-if="selectedGame"
              v-on:click="resetOfferForm">Cancel</button>
            </form>
            

            <button type="button" class="btn btn-outline-secondary"
            v-on:click="fetchUnassigned">View Unassigned Games</button>
        <h1>List of Unassigned Games</h1>
        <div class="divider"></div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Field Number</th>
              <th>Start Date</th>
              <th>Start Time</th>
              <th>Game Level</th>
              <th>Number of Referees</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="game in unassignedGames">
              <td>{{ game.field_num }}</td>
              <td>{{ game.start_date }}</td>
              <td>{{ game.start_time}}</td>
              <td>{{ game.game_level }}</td>
              <td>{{ game.num_of_refs}}</td>
              <td>
                <button type="button" class="btn btn-outline-secondary btn-sm" 
                v-on:click="selectGame(game)">Edit</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" 
                v-on:click="postDeleteGame(game)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>

  <!--  Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="js/tablesort.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>